<a href="https://colab.research.google.com/github/RCutrino/MLPNS_RCutrino/blob/main/MLPNS23_bootcamp17_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pylab as pl
import scipy as sp
from scipy import stats

In [2]:
eqs = pd.read_csv("https://github.com/fedhere/MLPNS_FBianco/blob/main/statistics/KStest/earthquakes.csv?raw=true", sep = " ")
eqs

,#YYY/MM/DD,HH:mm:SS.ss,ET,GT,MAG,Unnamed: 5,M,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Q,Unnamed: 25,EVID,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,NPH,NGRM
0,1984/01/01,01:30:57.52,eq,NaN,l,2.02,c,NaN,NaN,33.24600,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1984/01/01,05:31:34.16,eq,NaN,l,2.12,c,NaN,NaN,32.94500,...,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1984/01/01,06:59:05.14,eq,NaN,l,2.43,c,NaN,NaN,33.34300,...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1984/01/01,11:10:25.29,eq,NaN,l,2.07,c,NaN,NaN,33.66800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1984/01/01,19:38:19.79,eq,NaN,l,2.13,c,NaN,NaN,33.96300,...,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70793,2002/12/29,19:37:24.56,eq,NaN,l,2.21,l,NaN,NaN,35.31400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70794,2002/12/29,20:17:33.40,eq,NaN,l,2.02,l,NaN,NaN,35.32133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70795,2002/12/29,20:21:28.73,eq,NaN,l,2.07,l,NaN,NaN,35.32150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70796,2002/12/30,21:51:52.55,eq,NaN,l,2.31,l,NaN,NaN,35.31867,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70797,2002/12/30,23:38:49.79,eq,NaN,l,2.05,l,NaN,NaN,35.31450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
eqs.columns

Index(['#YYY/MM/DD', 'HH:mm:SS.ss', 'ET', 'GT', 'MAG', 'Unnamed: 5', 'M',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'LAT', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'LON', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'DEPTH', 'Q', 'Unnamed: 25', 'EVID',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'NPH', 'NGRM'],
      dtype='object')

In [9]:
eqs.rename({'#YYY/MM/DD': 'date',
            'HH:mm:SS.ss': 'time'}, axis=1, inplace=True)
eqs

,date,time,ET,GT,MAG,Unnamed: 5,M,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Q,Unnamed: 25,EVID,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,NPH,NGRM
0,1984/01/01,01:30:57.52,eq,NaN,l,2.02,c,NaN,NaN,33.24600,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1984/01/01,05:31:34.16,eq,NaN,l,2.12,c,NaN,NaN,32.94500,...,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1984/01/01,06:59:05.14,eq,NaN,l,2.43,c,NaN,NaN,33.34300,...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1984/01/01,11:10:25.29,eq,NaN,l,2.07,c,NaN,NaN,33.66800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1984/01/01,19:38:19.79,eq,NaN,l,2.13,c,NaN,NaN,33.96300,...,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70793,2002/12/29,19:37:24.56,eq,NaN,l,2.21,l,NaN,NaN,35.31400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70794,2002/12/29,20:17:33.40,eq,NaN,l,2.02,l,NaN,NaN,35.32133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70795,2002/12/29,20:21:28.73,eq,NaN,l,2.07,l,NaN,NaN,35.32150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70796,2002/12/30,21:51:52.55,eq,NaN,l,2.31,l,NaN,NaN,35.31867,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70797,2002/12/30,23:38:49.79,eq,NaN,l,2.05,l,NaN,NaN,35.31450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
eqs.time.dtype, eqs.date.dtype

(dtype('O'), dtype('O'))

In [11]:
pd.to_datetime("1984/01/01" + " " + "19:38:19.79")

Timestamp('1984-01-01 19:38:19.790000')

In [12]:
eqs.date.map(pd.to_datetime)

0       1984-01-01
1       1984-01-01
2       1984-01-01
3       1984-01-01
4       1984-01-01
           ...
70793   2002-12-29
70794   2002-12-29
70795   2002-12-29
70796   2002-12-30
70797   2002-12-30
Name: date, Length: 70798, dtype: datetime64[ns]

In [16]:
for i in range(len(eqs)):
  if eqs.iloc[i]['time'].endswith("60.00"):
    print(eqs.iloc[i]['time'])
    print(eqs.iloc[i]['time'].replace("60.00", "59.99"))
    eqs.at[i, 'time'] = eqs.iloc[i]['time'].replace("60.00", "59.99")
    print(eqs.iloc[i]['time'])

04:48:60.00
04:48:59.99
04:48:59.99
14:19:60.00
14:19:59.99
14:19:59.99
21:48:60.00
21:48:59.99
21:48:59.99
15:34:60.00
15:34:59.99
15:34:59.99
06:41:60.00
06:41:59.99
06:41:59.99

In [19]:
eqs['datetime'] = [eqs.iloc[i].date + " " + eqs.iloc[i].time for i in range(len(eqs))]
eqs["datetime"] = eqs["datetime"].map(pd.to_datetime)
eqs

,date,time,ET,GT,MAG,Unnamed: 5,M,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,EVID,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,NPH,NGRM,datetime
0,1984/01/01,01:30:57.52,eq,NaN,l,2.02,c,NaN,NaN,33.24600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984-01-01 01:30:57.520
1,1984/01/01,05:31:34.16,eq,NaN,l,2.12,c,NaN,NaN,32.94500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984-01-01 05:31:34.160
2,1984/01/01,06:59:05.14,eq,NaN,l,2.43,c,NaN,NaN,33.34300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984-01-01 06:59:05.140
3,1984/01/01,11:10:25.29,eq,NaN,l,2.07,c,NaN,NaN,33.66800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984-01-01 11:10:25.290
4,1984/01/01,19:38:19.79,eq,NaN,l,2.13,c,NaN,NaN,33.96300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984-01-01 19:38:19.790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70793,2002/12/29,19:37:24.56,eq,NaN,l,2.21,l,NaN,NaN,35.31400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-12-29 19:37:24.560
70794,2002/12/29,20:17:33.40,eq,NaN,l,2.02,l,NaN,NaN,35.32133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-12-29 20:17:33.400
70795,2002/12/29,20:21:28.73,eq,NaN,l,2.07,l,NaN,NaN,35.32150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-12-29 20:21:28.730
70796,2002/12/30,21:51:52.55,eq,NaN,l,2.31,l,NaN,NaN,35.31867,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-12-30 21:51:52.550
70797,2002/12/30,23:38:49.79,eq,NaN,l,2.05,l,NaN,NaN,35.31450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-12-30 23:38:49.790