<a href="https://colab.research.google.com/github/RCutrino/MLPNS_RCutrino/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Native variable

##integers

In [ ]:
intVar=3

In [ ]:
type(intVar)

int

## float

In [ ]:
floatVar=3.0

In [ ]:
type(floatVar)

float

In [ ]:
float2Var = float(intVar)

In [ ]:
type(float2Var)

float

In [ ]:
intVar * floatVar

9.0

In [ ]:
intVar * floatVar == 9
#chiedo di verificare l'uguaglianza

True

In [ ]:
intVar /2

1.5

In [ ]:
intVar + floatVar

6.0

In [ ]:
intVar + floatVar - intVar/2
#moltiplicazioni e divisioni si fanno prima delle somme

4.5

##strings

In [ ]:
print("hello world")
#per scrivere a capo si utilizzano le tre virgolette:
# print('''xx
# xxx''')

hello world

In [ ]:
strVar = 'Hello world'

In [ ]:
print(strVar)

Hello world

##boolean variables

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
if True:
  print("this is true")
  print(intVar * floatVar)
  #i due punti finiscono l'if

this is true
9.0

In [ ]:
if False:
  print("this is true")
  print(intVar * floatVar)
else:
  print("condition was false")

condition was false

In [ ]:
intVar = floatVar
#metto in intVar il floatVar -> cambio l'assignement nella variabile intVar

In [ ]:
intVar == floatVar
#chiedo se sono uguali

True

In [ ]:
if intVar == floatVar:
  print("this is true")
  print(intVar * floatVar)
else:
  print("condition was false")

this is true
9.0

In [ ]:
if intVar > floatVar:
  print("this is true")
  print(intVar * floatVar)
else:
  print("condition was false")

condition was false

In [ ]:
# == is equal?
print(intVar == floatVar)
# > greater
print(intVar > floatVar)
# > grater
print(intVar < floatVar)
#!= not equal
print(intVar != floatVar)

True
False
False
False

In [ ]:
# | is logical OR
(intVar > floatVar) | (intVar == floatVar)
# & is logical AND
(intVar > floatVar) & (intVar == floatVar)

False

In [ ]:
False == 0

True

In [ ]:
True == 1

True

In [ ]:
# ? is logical OR
(intVar > floatVar) * (intVar == floatVar)

0

In [ ]:
# * is logical AND
if (intVar > floatVar) * (intVar == floatVar):
  print("True")
else:
  print("False")

False

In [ ]:
# ? is logical OR
if (intVar > floatVar) + (intVar == floatVar):
  print("True")
else:
  print("False")

True

In [ ]:
# ? is logical OR
if (intVar > floatVar) + (intVar == floatVar) + (intVar == 3):
  print("True")
else:
  print("False")

True

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

##variable ad objects

In [ ]:
strVar = 'hello world'

In [ ]:
strVar.capitalize()

'Hello world'

In [ ]:
strVar.upper()

'HELLO WORLD'

In [ ]:
strVar.isdigit()

False

In [ ]:
"3".isdigit()

True

In [ ]:
floatVar.is_integer()

True

##list

In [ ]:
listVar = [intVar, floatVar, strVar, 0, True]
listVar

[3, 3.0, 'hello world', 0, True]

In [ ]:
listVar.append(11)
#funzione che aggiunge alla lista un elemento
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [ ]:
listVar.remove(11)
listVar

[3, 3.0, 'hello world', 0, True]

In [ ]:
listVar[0]
#ritorna il primo elemento della lista o stringa

3

In [ ]:
'h' in strVar

True

In [ ]:
#si possono cambiare un elemento della lista, ciò non è permesso nelle stringhe
listVar[2] = strVar
listVar[1] = 9
listVar

[3, 9, 'hello world', 0, True, 11]

# Esercizio

In [ ]:
target = ['p','r','o','v','a'] #in alternativa si può usare il comando list("prova")
print(target)
guess = ['g','a','t','t','o']
print(guess)
result = ['_','_','_','_','_']

for i in range(5):
  if guess[i] == target[i]:
    result[i] = guess[i]
  else:
    if guess[i] in target:
      result[i] = '*'
print(result) 
''.join(result)

['p', 'r', 'o', 'v', 'a']
['g', 'a', 't', 't', 'o']
['_', '*', '_', '_', '*']

'_*__*'

In [ ]:
target = list("acres")
print(target)
guess = list("Acres")
print(guess)
result = list("_____")

for i in range(5):
  if guess[i] == target[i]:
    result[i] = guess[i]
  else:
    if guess[i] in target:
      result[i] = '*'
print(result) 
''.join(result)

['a', 'c', 'r', 'e', 's']
['A', 'c', 'r', 'e', 's']
['_', 'c', 'r', 'e', 's']

'_cres'

## soluzione esercizio

In [ ]:
target = "acRes"
print(target)
guess = "Acres"
print(guess)
result = "_____"

target = target.lower()
guess = guess.lower()

if len(target) != len(guess):
  print("wrong word lenght")

else:
  if target == guess:
    print("done!")
  else:
    print("tryy again")
    for i in range(len(result)):
      if guess[i] == target[i]:
        result[i] = guess[i]
      elif guess[i] in target:
        result[i] = '*'

''.join(result)

acRes
Acres
done!

'_____'

#Function

In [ ]:
def wordle(guess):
  """
  A function that checks a word guess against a target
  Input:
    guess: a string
  Return:
    a string
    """

In [ ]:
wordle?
#permette di vedere l'help associato alla funzione

In [ ]:
def wordle(guess,target):
  """
  A function that checks a word guess against a target
  Input:
    guess: a string
  Return:
    a string
    """
  test = ["_"] * 5

  target = target.lower()
  guess = guess.lower()

  if len(target) != len(guess):
    print("wrong word length")
  else:
    if target == guess:
      print("DONE!")
      test = guess
    else:
      print("try again")
      for i in range(len(test)):
        if guess[i] == target[i]:
          test[i] = guess[i]
          
        elif guess[i] in target:
          test[i] = "*"
    print("".join(test))

  return

In [ ]:
list_strings_var = ["H","e","l","l","o"]
"".join(list_strings_var)

'Hello'

In [ ]:
wordle("Acres","acres")

DONE!
acres

## importing packages

typical packages that we will see
### pandas
  manipulation of tabular data
### numpy
  manipulation of numerical data
### scipy
  statistica
### matplotlib(pylab)
  visualization and plotting
### sklearn(scikitlearn)
  machine learning
### tensorflow
  neural networks

In [ ]:
import pandas as pd
#mi permette di richiamare le funzioni da panda usando pd.
from pandas import read_csv
#importo solo la funzione importata

In [ ]:
url = "https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [ ]:
df = pd.read_csv(url)
#il risultato è fissato in df, lo posso vedere successivamente richiamando la variabile

In [ ]:
df.shape
#mi dice quante colonne e righe ha il programma

(924, 41)

In [ ]:
df.columns
#attributi delle colonne

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [ ]:
df.iloc[0]
#estraggo la riga 0

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [ ]:
df.iloc[:,1]
#estraggo tutte le righe e solo la colonna 1, posso estrarre la colonna anche cononoscendo il nome della colonna

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [2]:
url1 = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

In [3]:
columnnames = ["title", "genre"]
movies = pd.read_csv(url1,sep = "::", index_col = 0, header = None, names = columnnames)
movies
#panda non legge il formato di questo url (non riconosce la separazione delle colonne), per aggirare il problema indico la variabile che separa le colonne
#rimuovo il doppio indice poiché già  ce l'ho nel codice
#non c'è un header perciò la prima riga del codice non è considerata come un header semplicemente insernedo header=none nella funzione 
#nomino una lista per nominare le colonne e la inserisco nella funzione

NameError: ignored

In [ ]:
columnnames = ["title", "genre"]
movies = pd.read_csv(url1,sep = "::", index_col = 0, header = None, names = columnnames)

In [ ]:
movies["title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [ ]:
"Toy Story (1995)".split()
#splitta la riga in una lista

['Toy', 'Story', '(1995)']

In [ ]:
#se voglio estrarre solo l'ultimo elemento 
"Toy Story (1995)".split() [-1].replace("(","").strip(")")
# - significa che parto da dx
#rimuovo le parentesi usando replace e strip

'1995'

In [ ]:
def get_year(mtitle):
  """
  """
  return mtitle.split()[-1].replace("(","").strip(")")

In [ ]:
movies["title"].map(get_year)

In [ ]:
movies["year"] = movies["title"].map(get_year)

In [42]:
movies.groupby("year").count()
#raggruppo le variabili e faccio il conteggio in base ai dati

KeyError: ignored

# Esercizio: 

Find all movies that are genre Fantasy. How many are there? How about Adventure?

How many movies are Fantasy, possibly together with other genres?

## Considerazioni preliminari

In [111]:
import pandas as pd
#richiamo le funzioni pandas

url1 = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"
#attribuisco alla variabile url1 il mio url

columnnames = ["title","genre"]
movies = pd.read_csv(url1, sep = "::", index_col = 0, header = None, names = columnnames)
#titolo le colonne e attribuisco alla variabile movies la tabella presente in url1

def get_genre(mgenre):
  """funzione che mi splitta la colonna dei generi in più colonne dei generi"""
  return (mgenre.split("|"))

movies["genre"] = movies["genre"].map(get_genre)
movies

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                   title                             genre
1                       Toy Story (1995)   [Animation, Children's, Comedy]
2                         Jumanji (1995)  [Adventure, Children's, Fantasy]
3                Grumpier Old Men (1995)                 [Comedy, Romance]
4               Waiting to Exhale (1995)                   [Comedy, Drama]
5     Father of the Bride Part II (1995)                          [Comedy]
...                                  ...                               ...
3948             Meet the Parents (2000)                          [Comedy]
3949          Requiem for a Dream (2000)                           [Drama]
3950                    Tigerland (2000)                           [Drama]
3951             Two Family House (2000)                           [Drama]
3952               Contender, The (2000)                 [Drama, Thriller]

[3883 rows x 2 columns]

In [114]:
genre = movies["genre"].map(get_genre)
genre

1        [Animation, Children's, Comedy]
2       [Adventure, Children's, Fantasy]
3                      [Comedy, Romance]
4                        [Comedy, Drama]
5                               [Comedy]
                      ...
3948                            [Comedy]
3949                             [Drama]
3950                             [Drama]
3951                             [Drama]
3952                   [Drama, Thriller]
Name: genre, Length: 3883, dtype: object

In [115]:
genre.iloc[0]

['Animation', "Children's", 'Comedy']

In [121]:
NFantasy=0

for i in range(len(genre)):
  if "Fantasy" in genre.iloc[i]:
    NFantasy+=1
  else:
    NFantasy=NFantasy

NFantasy

68

## Programma finale

In [146]:
NAdventure = 0 #inizializzo la variabile che mi indica il numero di film adventure a 0
NFantasy = 0 #inizializzo la variabile che mi indica il numero di film fantasy a 0

import pandas as pd
#richiamo le funzioni pandas
url1 = "https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"
#attribuisco alla variabile url1 il mio url

columnnames = ["title","genre"]
movies = pd.read_csv(url1, sep = "::", index_col = 0, header = None, names = columnnames)
#titolo le colonne e attribuisco alla variabile movies la tabella presente in url1

def get_genre(mgenre):
  """funzione che mi splitta la colonna dei generi in più colonne dei generi"""
  return (mgenre.split("|"))

genre = movies["genre"].map(get_genre)

#apro un ciclo for per poter eseguire il conteggio dei film adventure
for i in range(len(genre)):
  if "Adventure" in genre.iloc[i]:
    NAdventure += 1
  else:
    NAdventure = NAdventure

#apro un ciclo for per poter eseguire il conteggio dei film fantasy
for i in range(len(genre)):
  if "Fantasy" in genre.iloc[i]:
    NFantasy += 1
  else:
    NFantasy = NFantasy

#visualizzo il risultato finale
Result = [NFantasy,NAdventure]
f"il numero di film fantasy è {NFantasy}, il numero di film d'avventura è {NAdventure}"

"il numero di film fantasy è 68, il numero di film d'avventura è 283"